In [ ]:
from datascience import *
import numpy as np

## Tables ##

A table is given a name (such as `nba`) in our programming environment so that we can perform operations on the whole table.

In [ ]:
# From https://github.com/erikgregorywebb/datasets/blob/master/nba-salaries.csv
nba = Table.read_table('nba_salaries.csv')
nba

Manipulating the table creates a new table, but doesn't change/lose the original.

In [ ]:
nba.select('name', 'team')

In [ ]:
nba.drop('rank', 'position')

In [ ]:
nba

In [ ]:
'nba'

Because each operation creates a new table, multiple operations can be applied.

In [ ]:
nba.where('position', 'PG')

In [ ]:
nba.where('position', 'PG').drop('rank', 'position')

The result of applying operations is a table, which can also be given a name (e.g., `point_guards`) in our programming environment.

In [ ]:
point_guards = nba.where('position', 'PG').drop('rank', 'position')
point_guards

In [ ]:
point_guards.where('season', 2020).sort('team')

In [ ]:
nba

Sorting can be performed in descending order as well.

In [ ]:
point_guards.where('season', 2020).sort('salary').show(10)

In [ ]:
point_guards.where('season', 2020).sort('salary', descending=True).show(10)

## Numbers ##

In [ ]:
30

In [ ]:
10 * 3    # int

In [ ]:
10 / 3    # float

In [ ]:
10 / 2

In [ ]:
10 ** 3

In [ ]:
10 ** 0.5

In [ ]:
1234567 ** 890

In [ ]:
10 / 3

In [ ]:
75892745.215489247589274985712

In [ ]:
75892745.215489247589274985712 - 75892745.21548925

In [ ]:
(13 ** 0.5) ** 2

In [ ]:
int(10 / 5)

In [ ]:
int(10 / 4)

In [ ]:
float(3)

In [ ]:
6 / 4

In [ ]:
6 / 4000

In [ ]:
6 / 400000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

In [ ]:
1.5e-56

In [ ]:
x = 5

In [ ]:
2x

In [ ]:
2 * x

## Strings ##

In [ ]:
'Flavor'

In [ ]:
# The line below causes a name error
# Flavor

In [ ]:
"Flavor"

In [ ]:
'Don't always use single quotes'

In [ ]:
"Don't always use single quotes"

In [ ]:
'straw' 'berry' # concatenation

In [ ]:
'straw' + 'berry' # concatenation

In [ ]:
'Chirs' + 'Paul' # spaces aren't added for you

In [ ]:
'Chris' + ' ' + 'Paul'

In [ ]:
x = 'straw'
y = 'berry'
x + y

In [ ]:
x y

In [ ]:
'ha' * 100

In [ ]:
'lo' * 5.5

In [ ]:
'ha' + 10

In [ ]:
'ha' + str(10)

In [ ]:
int('3')

In [ ]:
int('3.0')

In [ ]:
int(float('3.0'))

In [ ]:
dot_oh = '.0'
float('3' + dot_oh)

## Types ##

In [ ]:
type(10)

In [ ]:
a = 10

In [ ]:
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(Table.read_table('nba_salaries.csv'))

In [ ]:
type(True)

In [ ]:
abs(-5)

In [ ]:
type(abs)

## Arrays ##

In [ ]:
first_four = make_array(1, 2, 3, 4)

In [ ]:
first_four

In [ ]:
array([1, 2, 3, 4])

In [ ]:
from numpy import array

In [ ]:
array([1, 2, 3, 4])

In [ ]:
first_four * 2

In [ ]:
first_four ** 2

In [ ]:
first_four + 1

In [ ]:
first_four # array is unchanged, just like when we call show/select/drop on Table

In [ ]:
next_four = make_array(5, 6, 7, 8)

In [ ]:
first_four + next_four

In [ ]:
only_three = make_array(5, 6, 7)

In [ ]:
# This line will cause an error 
# first_four + only_three

In [ ]:
str_array = make_array('ha', 'he', 'ho')

In [ ]:
str_array

In [ ]:
str_array * 4

In [ ]:
next_four

In [ ]:
next_four.item(0)

In [ ]:
next_four.item(1)

In [ ]:
sum(next_four)

In [ ]:
np.average(next_four)

In [ ]:
len(next_four)